/*
  Flex to make the middle table horizontally scrollable.
*/

.wrap {
  display: flex;
  flex-wrap: nowrap;
  padding: 2px;
}

.wrap .left {
  flex: 0 0 60px;
  z-index: 1; /* Have the middle table 'slide under' the side tables */
  margin-right: -1px; /* Have the name column border over the middle table while scrolling */
}

.wrap .left td {
  padding-left: 2px;
}

.wrap .middle {
  flex: 0 1 700px;
  overflow: scroll;
  z-index: 0; /* Have the middle table 'slide under' the side tables */
  margin-bottom: -15px; /* Get rid of extra space under the middle table. */
}

.wrap .middle table {
  width: 100%;
}

.wrap .middle td {
  min-width: 26px;
}

.wrap .right {
  flex: 0 0 40px;
  z-index: 1; /* Have the middle table 'slide under' the side tables */
  margin-left: -1px; /* Have the par column border over the middle table while scrolling */
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  /* make scrollbar invisible: */
  /* background: transparent; */
}

/*
  Style for score card.
*/

.wrap .scoreCardTitle {
  color: white;
}

.wrap table {
  border-collapse: collapse;
}

.wrap td {
  border: 1px solid #000000;
  height: 26px;
	font-weight: lighter;
  overflow: hidden; /* Stop ob stroke markers from bleeding outside cells */
}

/*
  Remove outermost borders from all tables.
*/

.wrap td.topCell {
  border-top: 0;
}

.wrap td.bottomCell {
  border-bottom: 0;
}

.wrap .left td {
  border-left: 0;
}

.wrap .right td {
  border-right: 0;
}

/*
  Score colors.
*/

.wrap td.holeInOne {
  /* background-color: red; */
  background-color: #F75151;
}

.wrap td.eagle {
  /* background-color: yellow; */
  background-color: #FFFF00;
}

.wrap td.birdie {
  /* background-color: #00FF00; */
  background-color: #00F700;
}

.wrap td.par {
  /* background-color: #A7C942; */
  background-color: #A7C942;
}

.wrap td.bogey {
  /* background-color: orange; */
  background-color: #FFA500;
}

.wrap td.overBogey {
  /* background-color: #8E668E; */
  background-color: #A37BA3;
}

.wrap span.ob {
  z-index: 10;
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.wrap div.obWrapper {
  background-color: red;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 7px;
}

.wrap div.obWrapperWrapper {
  position: relative;
}
