
#table1 {
  border-collapse:separate;
  border-top: 3px solid grey;
}
td {
  margin:0;
  border:3px solid grey;
  border-top-width:0px;
  white-space:nowrap;
}
#outerdiv {
  position: relative;
  top: 0;
  left: 0;
  right: 5em;
  overflow-x: hidden;
}
#innerdiv {
  width: 100%;
  overflow-x:scroll;
  margin-left: 5em;
  /* overflow-y:visible; */
  padding-bottom:1px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.headcol {
  position:absolute;
  width:5em;
  left:0;
  top:auto;
  border-right: 0px none black;
  border-top-width:3px;
  /*only relevant for first row*/
  margin-top:-3px;
  /*compensate for top border*/
}
.headcol2 {
  position:absolute;
  width:5em;
  right:0;
  top:auto;
  border-right: 0px none black;
  border-top-width:3px;
  /*only relevant for first row*/
  margin-top:-3px;
  /*compensate for top border*/
  background-color: white;
}
/* .headcol:before {
  content:'Row ';
} */
.long {
  background:yellow;
  letter-spacing:1em;
}
